table{
	border: 1px dashed red;
	margin:auto;
}

td{
	border: 1px solid brown;
}

tr:nth-child(n+2){
	background-color:gray;
}

tr:nth-child(1){
	background:linear-gradient(to right, pink, yellow);
}


td:first-letter{
	font-size:1.6em;
}

h1{
	color:red;
	text-align:center;
}

h1:nth-child(2n+1){
	color:blue;
}

th{
	color:green;
	font-size:1.4em;
	text-decoration:underline;
}