letter>*{
	display:block;
		margin-left:4%;
	margin-top:2%;
}

addressee{
	margin-top:5%;
}

addressee>*{
	display:block;
}

paragraph{
	text-indent:1.5em;
}

list>*{
	display:block;
	display:list-item;
	margin-left:5%;
}

closing{
	margin-left:70%;
}