airplanes{
	display:table;
}

plane{
	display:table-row;
}

name, passengers_capacity, travel_range{
	display:table-cell;
	border:1px solid black;
}

plane:first-child{
	font-weight:bold;
}

name[made_in="USA"]{
	color:green;
}

name[made_in="France"]{
	color:blue;
}

name::before{
	/*content:"\2708";*/
	content:url("icons1.png")
}